body{
    background-image:url("../images/fxd.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100%;
}
#titlediv{
    width:100%;
    height:829px;

}
#internaltitlediv{
    width:37%;
    height:50%;
    margin-bottom:310px;
    padding-top:280px;
    margin-left:25px;
    text-align:center;
    font-family:"DSfont";
    font-size:250%;
}
hr{
    border:0.5px solid darkcyan;
}

@font-face {
        font-family:"DSfont";
        src: url(../fonts/DSfont.otf);
}

#persondiv{
    position:absolute;
    left:0;
    width:100%;
    height:1200px;
    background-image:url("../images/images.jpeg");
    
}
#headerdiv{
    width:calc(100% - 80px);
    height:150px;
    background-image:url("../images/back-header1.png");
    margin-left:40px;
    margin-top:30px;
    text-align:center;
    font-family:"DSfont";
    font-size:600%;
}

.developer{
    width:670px;
    height:640px;
    margin-top:20px;
}
#parastoo{
    margin-left:40;
    float:left;
}
#elham{
    margin-right:40px;
    float:right;
}

img{
    margin-top:20px;
    margin-left:200px;
    margin-right:200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.infodiv{
    width:600;
    height:260px;
    margin-top:20;
    text-align:center;
    font-family:"arial";
    font-size:180%;
    margin-left:35px;
    color:rgb(37, 33, 81)
}
.button {
  background-image:url("../images/back-header1.png");
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}

#footer{
    width:100%-100px ;
    height:180px ;
    margin-top:810px;
    padding:15px;
    padding-left:100px;
    padding-right:100px;
    background-image:url("../images/back-header2.png");
    text-align:center;
    font-family:"DSfont";
    font-size:90%;
    color:white;
}
